<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576827712719-p7d6t4nps3rh1ooe56lngcallsiu2ps1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576827712719-p7d6t4nps3rh1ooe56lngcallsiu2ps1</string>
	<key>API_KEY</key>
	<string>AIzaSyBcQTVuAJoFBUD4x1ISEPc9yxb7AKkwsSk</string>
	<key>GCM_SENDER_ID</key>
	<string>576827712719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pavel.Hollovic.CheckCheck</string>
	<key>PROJECT_ID</key>
	<string>checkcheck-1043b</string>
	<key>STORAGE_BUCKET</key>
	<string>checkcheck-1043b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576827712719:ios:92caa8a57e9e34ccc903ba</string>
</dict>
</plist>